@model IEnumerable<ProyectoDTO>

    @if (Model is not null)
    {
        <div class="text-center" style="padding-top: 6rem;">
            <p>Mis trabajos recientes</p>
            <h1>Aquí puedes ver mis trabajos más recientes</h1>
        </div>

        <partial name="_ListadoProyectos" model="Model"/>
    }